.card-background-page {
    ion-card {
        position: relative;
        text-align: center;
    }
    img {
        opacity: 0.5 !important;
    }
    .card-title {
        position: absolute;
        top: 30%;
        font-size: 35px;
        width: 100%;
        font-weight: bold;
        color: var(--ion-color-primary);
        text-shadow: 2px 2px white;
    }
    .card-subtitle {
        font-size: 15px;
        position: absolute;
        top: 52%;
        width: 100%;
        font-weight: bold;
        color: var(--ion-color-secondary);
    }
    .card-thirdtitle {
        font-size: 15px;
        position: absolute;
        top: 65%;
        width: 100%;
        font-weight: bold;
        color: black;
    }
}