<ion-header no-border>
    <ion-toolbar color="primary" text-center>
        <ion-title>Players Info</ion-title>
    </ion-toolbar>
</ion-header>

<ion-segment (ionChange)="segmentChanged($event)" color="secondary" scrollable>
    <ion-segment-button *ngFor="let team of teams" [value]="team">
        <img class="img-logo" [src]="team.WikipediaLogoUrl" />
    </ion-segment-button>
</ion-segment>

<ion-content>
    <ion-list lines="none" *ngIf="players.length === 0">
        <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
            <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
                <h2>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h2>
                <p>
                    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                </p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list lines="none" *ngIf="players.length !== 0">
        <ion-item *ngFor="let player of players" (click)="openPlayerModal(player.PlayerID)" detail>
            <ion-avatar slot="start">
                <img [src]="player.PhotoUrl" />
            </ion-avatar>
            <ion-label>
                <h2>{{ player.FirstName }} {{ player.LastName }}</h2>
                <p>#{{ player.Jersey }} - {{ player.Position }}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>